{% extends "boilerplate.html" %}

{% block content %}


  
  {% if next %}
    {% if user.is_authenticated %}
      <p>Sua conta não dá acesso à esta página</p>
    {% else %}
      <p>Faça o Login para visualizar esta página.</p>
    {% endif %}
  {% endif %}
  {% load bootstrap %}
  <div class=" container container-login" style="text-align: center;">
    <h4 class="texto-cor-primaria"><strong>Redefinir Senha</strong></h4>
    <br>
    <div class='row justify-content-center'>
    <div class='col-md-4'>
    {% if validlink %}
        <p>Por favor insira (e confirme) sua nova senha.</p>
        <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <div class="small text-danger">
                {% for error in form.new_password1.errors %}
                    <p><em>{{error}}</em></p>
                {% endfor %}
            </div>    
            <input type="password"
            class="form-control"
            name="{{ form.new_password1.name }}"
            id="{{ form.new_password1.id_for_label }}"
            {% if form.new_password1.value != None %}value="{{ form.new_password1.value|stringformat:'s' }}"{% endif %}
            maxlength="{{ form.new_password1.field.max_length }}"
            {% if form.new_password1.field.required %}required{% endif %}
            placeholder="Nova Senha">
            </div> 
            <div class="form-group">
                <div class="small text-danger">
                    {% for error in form.new_password2.errors %}
                        <p><em>{{error}}</em></p>
                    {% endfor %}
                </div>    
                <input type="password"
                class="form-control"
                name="{{ form.new_password2.name }}"
                id="{{ form.new_password2.id_for_label }}"
                {% if form.new_password2.value != None %}value="{{ form.new_password2.value|stringformat:'s' }}"{% endif %}
                maxlength="{{ form.new_password2.field.max_length }}"
                {% if form.new_password2.field.required %}required{% endif %}
                placeholder="Confirme a nova Senha">
            </div> 
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">Enviar Link</button>
            </div>
        </form>
    {% else %}
        <h1>Falha na redefinição de senha</h1>
        <p>Este link de redefinição de senha é inválido, possivelmente porque já foi utilizado. Por favor, solicite um novo link clicando <a href="{% url 'password_reset' %}">AQUI</a>.</p>
    {% endif %}        
    </div>
  </div>
  </div>
  

  
{% endblock %}