{% extends "boilerplate.html" %}

{% block content %}
<div class="container">
  
  <!-- <h1>CroNômia</h1>
  <p>Bem vindo à <em>CroNômia</em> seu app de gerenciamento de ciclo de estudos.</p> -->

  <div class="row">
      <div class="col text-center" >
        <a href="{% url 'ciclos' %}">
            <!-- <div class='logo_container'> -->
              {% load static %}
              <img src='{% static "img/LogoCroNomia.png" %} 'class='img-fluid' style="max-width: 65%;">
            <!-- </div> -->
        </a>

      </div>

  </div>
</div>
{% endblock %}